*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),
	url(gambar/puskes.jpeg);
	background-position: center;
	background-size: cover;
	position: relative;
} 
nav{
	display:flex ;
	padding: 3% 5%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	width: 230px;
	height: 200px;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 15px;
	position: relative;
}
.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 30px ;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 7px;
	background: #11912b;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;

}
.text-box{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) ;
	text-align: center;
}
.text-box h1{
	font-size: 55px;
}
.start-button{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 2px solid #1d7d0f;
	padding: 6px 60px;
	font-size: 30px;
	background: #1d7d0f;
	position: relative;
	cursor: pointer;
	text-align: center;
	transition: 0.5s;
	border-radius: 10px;

}
.start-button:hover{
	border:  2px solid #1d7d0f;
	font-size: 35px;
	transition: 0.3s;
	box-shadow: 0 0 15px 10px rgba(0,0,0,0.3);
}
nav .fa{
	display: none;
}


/*-------------smartphone---------*/
@media(max-width: 700px){
	nav img{
		width: 120px;
		height: 100px;
	}
	.text-box h1{
		font-size: 22px;
	}
	.text-box a{
		font-size: 15px;
	}
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		position: absolute;
		background: #11912b;
		height: 100vh;
		width: 135px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 0.5s;
	}
	nav .fa{
		display: block ;
		color: #fff;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}
	nav .fa:hover{
		box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
	}
}


/*-------------About Us Page------------*/

.about-header{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),
	url(gambar/puskes.jpeg) ;
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.judul-about-us{
	margin-top: -100px;
	font-size: 50px;
	cursor: default;
	position: relative;
}

.about-col img{
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	width: 250px;
	height: 250px;
	border-radius: 50%;
}
.aziz{
	font-size: 20px;
	color: #fff;
	position: relative;
	top: 20px;
	right: 535px;
	text-align: center;
}
.marshya{
	font-size: 20px;
	color: #fff;
	position: relative;
	bottom: 10px;
	right: 170px;
	text-align: center;
}
.fahmi{
	font-size: 20px;
	color: #fff;
	position: relative;
	bottom: 40px;
	left: 180px;
	text-align: center;
}
.nabil{
	font-size: 20px;
	color: #fff;
	position: relative;
	bottom: 70px;
	left: 535px;
	text-align: center;
}


/* ----------------Start Page----------- */
.start-header{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),
	url(gambar/puskes.jpeg) ;
	background-position: center;
	background-size: cover;
	text-align: center;
}

.bawa-kartu{
	display: block;
	color: #fff;
	font-size: 45px;
	position: relative;
	bottom: 20px;
}
.punya-button{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 2px solid #1d7d0f;
	padding: 5px 75px;
	font-size: 40px;
	background: #1d7d0f;
	position: relative;
	right: 50px;
	cursor: pointer;
	transition: 0.5s;
	border-radius: 10px;
}

.tidak-punya-button{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 2px solid #1d7d0f;
	padding: 6px 65px;
	font-size: 40px;
	background: #1d7d0f;
	position: relative;
	left: 50px;
	cursor: pointer;
	transition: 0.5s;
	border-radius: 10px;
}

.punya-button:hover{
	border:  5px solid #1d7d0f;
	font-size: 45px;
	transition: 0.3s;
	box-shadow: 0 0 15px 10px rgba(0,0,0,0.4);
}
.tidak-punya-button:hover{
	border:  5px solid #1d7d0f;
	font-size: 45px;
	transition: 0.3s;
	box-shadow: 0 0 15px 10px rgba(0,0,0,0.4);
}

/* -------------------Punya Page-------------- */
.punya-header{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),
	url(gambar/puskes.jpeg) ;
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}

.data-diri{
	font-size: 50px;
	text-decoration: underline #1d7d0f;
	position: relative;
	text-align: center;
	bottom: 90px;
}
.nama-lengkap{
	font-size: 30px;
	position: relative;
	bottom: 70px;
	right: 5%;
}
.nama-lengkap-box{
	font-size: 20px;
	font-weight: bold;
	position: relative;
	bottom: 70px;
	right: 5%;
	padding: 1px 0px;
	border-radius: 15px;
	text-align: center;
}
.jenis-kelamin{
	font-size: 30px;
	position: relative;
	bottom: 70px;
	right: 90px;
}
.jenis-kelamin-box{
	font-size: 20px;
	font-weight: bold;
	position: relative;
	bottom: 70px;
	right: 63px;
	padding: 2px 212px;
	border-radius: 15px;
	text-align: center;
}
.tanggal-lahir{
	font-size: 30px;
	position: relative;
	bottom: 70px;
	right: 90px;
}
.tanggal-lahir-box{
	font-size: 20px;
	font-weight: bold;
	position: relative;
	padding: 1px 155px;
	bottom: 70px;
	right: 60px;
	border-radius: 15px;
}
.tombol-submit{
	font-size: 20px;
	border-radius: 10px;
	padding: 5px 20px;
	position: relative;
	bottom: 30px;
	cursor: pointer;
}




/* ---------------------------Tidak Punya Page--------------- */
.tidak-punya-header{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),
	url(gambar/puskes.jpeg) ;
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.maaf-tidak-punya{
	font-size: 40px;
}
.kembali-button{
display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 2px solid #1d7d0f;
	padding: 6px 60px;
	font-size: 30px;
	background: #1d7d0f;
	position: relative;
	cursor: pointer;
	text-align: center;
	transition: 0.5s;
	border-radius: 10px;
}
.kembali-button:hover{
	border:  5px solid #1d7d0f;
	font-size: 33px;
	transition: 0.3s;
	box-shadow: 0 0 15px 10px rgba(0,0,0,0.4);
}